<app-loading *ngIf="!isLoaded"></app-loading>

<div class="canvas-content">
  <canvas id="canvas3d"></canvas>
</div>

<div id="hero">
  <h1>SEAMLESS<br>EXPERIENCE.<br>BOUNDLESS<br>POSSIBILITIES.</h1>
</div>

<div id="part1">
  <div>
    <h2>CAPTURE LIFE LIKE A PRO.</h2>
    <p>Transform moments into masterpieces with the incredible camera on iPhone-14. From vibrant landscapes to intimate portraits, experience photography at its best. Elevate your snapshots and embrace a new era of visual storytelling.</p>

    <button>Capture Moments - It's Effortless!</button>
  </div>
</div>

<div id="part2">
  <div>
    <H2>CUSTOMIZE ALL THE WAY.</H2>
    <p>It's all yours! Change the colors as you like. There are no limitations!</p>

    <button>Customize your iPhone</button>
  </div>
</div>

<div id="part3">
  <div>
    <h3>Made with <span class="angular">Angular</span> & <span class="spline">Spline</span></h3>
    <div class="icons">
      <a href="https://github.com/Trouthe/p_06"><img src="../assets/github.png" style="filter: invert(1);" width="25px"></a>
      <a href="https://www.linkedin.com/in/anthony-hajjar/"><img src="../assets/linkedin.png" style="filter:grayscale(100%);" width="25px"></a>
    </div>
  </div>
</div>